#app {
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  height: 100%;
}

body {
  padding: 1rem 0 1rem 0;
  margin: 0;
  height: auto;
  min-height: 100vh;
  font-family: 'Alef', sans-serif;
  overflow-x: hidden;
}

@media only screen and (min-width: 640px) {
  body {
    height: 200vh;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

main {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(29, 38, 56);
}

body::-webkit-scrollbar-thumb {
  background-color: #8c7307;
  outline: 1px solid rgb(29, 38, 56);
}
