#app {
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  height: 100%;
}

body {
  padding: 1rem 0 1rem 0;
  margin: 0;
  height: 100%;
  background: linear-gradient(
    to right bottom,
    rgb(250, 204, 21),
    rgb(254, 240, 138),
    rgb(199, 159, 27)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Alef', sans-serif;
}

@media (min-width: 640px) {
  body {
    height: 100vh;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

main {
  margin: 0;
}
